@font-face{
  font-family: "Clemente";
  src: url("../resources/fonts/Clemente.ttf");
}
@font-face{
  font-family: "TimeBurner";
  src: url("../resources/fonts/timeburnernormal.ttf");
}
body{
  margin-top: 3vh;
  background-color: #FCFCFC;
}
h1, h2{
	  font-family: Candara;
  font-weight: 100;
}
.intro{
  padding-top: 4vh;
  width: 55%;
}
#resume{
  color: black;
  font-size: 1.4em;
}
.hover{
	width: 100%;
	height: auto;
}
#main{
	margin-top: 10%;
}
#topbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FCFCFC;
}
#title{
  margin-top: 1%;
  margin-left: 10%;
  float: left;
  display: block;
  font-family: "Clemente", Arial;
  font-size: 2.9em;
  text-decoration: none;
  color: black;
}

.icon{
  width: 1.2em;
  height: 1.2em;
  padding-right: 2px;
}
#email{
  width: 1.6em;
}
#footer{
  padding-top: 5vh;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 481px){
#footer{
    margin-left: 10%;
  }
}
.row{
	display: flex;
	justify-content: center;
}
.row-space{
	display: flex;
	justify-content: center;
	padding-bottom: 10vh;
}
.left-col{
	width: 25%;
	margin-left: 10%;
}
.right-col{
	width: 80%;
	margin-right: 20%;
}
.meta{
	padding-bottom: .5vh;
}
#projectname{
	text-align: center; 
	width: 100%; 
	margin-left: 0%; 
	padding-bottom: 5vh;
}
#back-button{
	text-align: center;
	text-decoration: none;
	color: black;
	bottom: 0;
	position: relative;
}