@font-face{
  font-family: "Clemente";
  src: url("../resources/fonts/Clemente.ttf");
}
@font-face{
  font-family: "TimeBurner";
  src: url("../resources/fonts/timeburnernormal.ttf");
}
body{
  margin-top: 3vh;
}
#topbar{
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}
#title{
  font-family: "Clemente", Arial;
  font-size: 2.9em;
  text-decoration: none;
  color: black;
}
#nav{
  padding-bottom: 5vh;
  display: flex;
  justify-content: flex-start;
}
#spacer{
  padding: .5vh;
  font-size: 1em;
}
#link{
  font-family: "TimeBurner", Arial;
  text-decoration: none;
  color: black;
  font-size: .9em;
  margin-top: .8vh;
}
.icon{
  width: 2.6vh;
  height: 2.6vh;
}
#email{
  width: 3.2vh;
}
#footer{
  padding-top: 10vh;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 481px){
  #topbar, #nav, #footer{
    margin-left: 10%;
  }
}