@font-face{
  font-family: "Clemente";
  src: url("../resources/fonts/Clemente.ttf");
}
@font-face{
  font-family: "TimeBurner";
  src: url("../resources/fonts/timeburnernormal.ttf");
}
body{
  margin-top: 3vh;
  background-color: #FEFEFE;
}
#topbar{
  height: 10%;
  display: flex;
  justify-content: flex-start;
}
#title{
  font-family: "Clemente", Arial;
  font-size: 2.9em;
  text-decoration: none;
  color: black;
  padding-bottom: 3%;
}
#nav{
  padding-bottom: 3%;
  display: flex;
  justify-content: flex-start;
}
#link{
  font-family: "TimeBurner", Arial;
  text-decoration: none;
  color: black;
  font-size: .9em;
  padding-right: .6vw;
  padding-top: .6vh;
  padding-bottom: .6vh;
}
.spaced-link{
  border-left-style: groove;
  border-width: .1em;
  border-color: #DDDDDD;
  padding-left: .6vw;
}
.icon{
  width: 1.2em;
  height: 1.2em;
  padding-right: 2px;
}
#email{
  width: 1.6em;
}
#footer{
  padding-top: 8%;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 481px){
  #topbar, #nav, #footer{
    margin-left: 10%;
  }
}