h3{
  padding-bottom: 3vh;
  display: flex;
  justify-content: flex-start;
}
.deck{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  border-style: solid;
  border-width: 1px;
  border-color: #BBBBBB;
  width: 48%;
  color: black;
  text-decoration: none;
}
.container{
  margin-left: 2vh;
  padding-bottom: 3vh;
}
.description{
  margin-right: 2vh;
  padding-bottom: 1vh;
  height: auto;
}
p{
  font-size: .9em;
}
@media (max-width: 480px){
  .card{
	  width: 100%;
  }
}
@media (min-width: 481px){
  h3{
    margin-left: 10%;
  }
  .deck{
	  width: 80%;
	  margin-left: 10%;
	  padding-bottom: 2vh;
  }
}