#container{
  display: flex;
  justify-content: center;
  margin: auto;
}
#row1, #row2, #row3 {
  -webkit-animation-name: spawn; /* Safari 4.0 - 8.0 */
  animation-name: spawn;
  object-fit: cover;
}
#row1{
  -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
  animation-duration: .5s;
}
#row2{
  -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
  animation-duration: .7s;
}
#row3{
  -webkit-animation-duration: .9s; /* Safari 4.0 - 8.0 */
  animation-duration: .9s;
}
.hover {
  transition: all .2s ease-in-out;
}
.hover:hover {
  transform: scale(1.02);
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes spawn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Standard syntax */
@keyframes spawn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media (max-width: 480px){
  #row1, #row2, #row3 {
    width: 49%;
    height: 23vh;
  }
}
@media (min-width: 481px) and (max-width: 1023px){
  h3{
    margin-left: 10%;
  }
  #container{
    width: 80%;
  }
  #row1, #row2, #row3 {
    width: 49%;
    height: 38vh;
  }
}
@media (min-width: 1024px){
  h3{
	margin-left: 10%;
  }
  #container{
    width: 80%;
  }
  #row1, #row2, #row3 {
    width: 24%;
    height: 33vh;
  }
}