@font-face{
  font-family: "Clemente";
  src: url("./fonts/Clemente.ttf");
}
@font-face{
  font-family: "TimeBurner";
  src: url("./fonts/timeburnernormal.ttf");
}
body{
  margin-top: 2vh;
  margin-left: 33vh;
  margin-right: 33vh;
}
#topbar{
  height: 10vh;
  display: inline-block;
}
#title{
  font-family: "Clemente", Arial;
  font-size: 4.5vh;
  text-decoration: none;
  color: black;
}
#nav{
  padding-bottom: 5vh;
}
#spacer{
	padding: .5vh;
	font-size: 2vh;
}
#link{
  font-family: "TimeBurner", Arial;
  text-decoration: none;
  color: black;
  font-size: 1.6vh;
}
.icon{
	width: 3.5vh;
	height: 3.5vh;
}
#footer{
  padding-top: 10vh;
  bottom: 0;
  position: relative;
}