@font-face{
  font-family: "Clemente";
  src: url("./fonts/Clemente.ttf");
}
@font-face{
  font-family: "TimeBurner";
  src: url("./fonts/timeburnernormal.ttf");
}
body{
  margin-top: 3vh;
}
#topbar{
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}
#title{
  font-family: "Clemente", Arial;
  font-size: 5vh;
  text-decoration: none;
  color: black;
}
#nav{
  padding-bottom: 5vh;
  display: flex;
  justify-content: flex-start;
}
#spacer{
  padding: .5vh;
  font-size: 2vh;
}
#link{
  font-family: "TimeBurner", Arial;
  text-decoration: none;
  color: black;
  font-size: 1.6vh;
  margin-top: .8vh;
}
.icon{
  width: 2.6vh;
  height: 2.6vh;
}
#em{
  width: 3.2vh;
}
#footer{
  padding-top: 10vh;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 480px){
  #topbar, #nav, #footer{
    margin-left: 3.5vh;
  }
}
@media (min-width: 768px){
  #topbar, #nav, #footer{
    margin-left: 7vh;
  }
}
@media (min-width: 1200px){
  #topbar, #nav, #footer{
    margin-left: 25vh;
  }
}