h3{
  padding-bottom: 3vh;
}
.deck{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 3vh;
}
.card{
  border-style: solid;
  border-width: 1px;
  border-color: #BBBBBB;
  width: 60vh;
  height: 15vh;
  padding-bottom: 1vh;
}
.container{
  margin-left: 2vh;
  padding-bottom: 3vh;
}
.description{
  margin-right: 2vh;
  padding-bottom: 1vh;
  height: 3vh;
}
button{
  width: 5vh;
  height: 2.5vh;
  float: right;
  margin-right: 3vh;
  font-family: Arial;
  border-radius: 4px;
}
button:hover{
  color: white;
  background-color: #444444;
  transition: all .1s ease-in-out;
}
