h3{
  padding-bottom: 3vh;
  display: flex;
  justify-content: flex-start;
}
.deck{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3vh;
}
.card{
  border-style: solid;
  border-width: 1px;
  border-color: #BBBBBB;
  width: 60vh;
  padding-bottom: 2vh;
}
.container{
  margin-left: 2vh;
  padding-bottom: 3vh;
}
.description{
  margin-right: 2vh;
  padding-bottom: 1vh;
  height: 3vh;
}
button{
  float: right;
  margin-right: 3vh;
  font-family: Arial;
  border-radius: 4px;
  font-size: 1.5vh;
  padding: .5vh 1.7vh;
}
button:hover{
  color: white;
  background-color: #444444;
  transition: all .1s ease-in-out;
}
@media (min-width: 768px){
  h3{
    margin-left: 7vh;
  }
}
@media (min-width: 1200px){
  h3{
    margin-left: 25vh;
  }
}