#container{
  display: flex;
  justify-content: center;
}
#row1 {
  width: 30vh;
  height: 30vh;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: .5s;
}

#row2 {
  width: 30vh;
  height: 30vh;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: .7s;
}
#row3 {
  width: 30vh;
  height: 30vh;
  background-color: red;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .9s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: .9s;
}
.hover {
  transition: all .2s ease-in-out;
}
.hover:hover {
  transform: scale(1.02);
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Standard syntax */
@keyframes example {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media (max-width: 480px){
  #row1, #row2, #row3{
    width: 18vh;
    height: 18vh;
    margin: 3.5vh;
  }
}
/* for iPhone X */
@media (width: 375px) and (height: 812px){
  #row1, #row2, #row3{
    width: 13vh;
    height: 13vh;
    margin: 3.5vh;
  }
}
/* for Pixel 2 XL */
@media (width: 411px) and (height: 823px){
  #row1, #row2, #row3{
    width: 15vh;
    height: 15vh;
    margin: 3.5vh;
  }
}
@media (max-width: 1024px){
  #row1, #row2, #row3{
    margin-left: 4.5vh;
  }
}
@media (width: 1024px) and (height: 768px){
  #row1, #row2, #row3{
    width: 26vh;
    height: 26vh;
    margin-left: 1vh;
    margin-right: 1vh;
  }
}